.toolbar {
    height: 50px;
    width: auto;
}

.bottomtoolbar {
    height: 20px;
    width: auto;
}

.bottommsg {
    text-align: center;
    font-size: x-small;
    padding-top: 10px;
    color: white;
}