<div class="d-flex flex-row bd-highlight mb-3">

<div class="form-group row" style="width: 60%;">
    <label class="col-form-label">Employee Name</label>
    <div class="col=sm-10">
        <input type="text" class="form-control" placeholder="Enter Employee Name"
        name="EmployeeName" required [(ngModel)]="EmployeeName">
        <!-- <input type="text" class="form-control" placeholder="Enter Employee Name"
        name="EmployeeName" EmployeeName required [(ngModel)]="EmployeeName" #EmployeeName="ngModel">
        <span class="help-block" *ngIf="EmployeeName.invalid && EmployeeName.touched">
        The name is required..!!
        </span> -->
        <!-- <input type="text" #EmployeeName="ngModel" [ngModel]="emp.EmployeeName" name="EmployeeName" 
        [class.is-invalid]= "EmployeeName.invalid && EmployeeName.touched" class="form-control" id="EmployeeName" 
        placeholder="Enter EmployeeName" required>
        <small class="text-danger" [class.d-none]= "EmployeeName.valid || EmployeeName.untouched">
            Please enter a EmployeeName</small> -->
    </div>
    <label class="col-form-label">Department</label>
    <div class="col=sm-10">
        <select class="form-control" [(ngModel)]="Department">
            <option value="" selected disabled hidden> -- Select -- </option>
            <option *ngFor="let depName of DepartmentsList">
                {{depName.DepartmentName}}
            </option>
        </select>
    </div>
    <label class="col-form-label">Date Of Join</label>
    <div class="col=sm-10">
        <input type="date" [(ngModel)]="DateOfJoin">
    </div>
</div>

<div class="ml-3 bd-highlight" style="width: 40%;">
    <img [src]="PhotoFilePath" height="250px;" width="200px;">
    <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
</div>

</div>

<button (click)="addEmployee()" *ngIf="emp.EmployeeID==0" class="btn btn-primary">Add</button>
<button (click)="updateEmployee()" *ngIf="emp.EmployeeID!=0" class="btn btn-warning">Update</button>
